@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html,body
{

	height: :100%;
	margin: 0;
}

.fullbg {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
  height: 50px;
  background-color:#FFA500;
  clear:both;
  text-align:center;"
  margin-top: -50px;
}

p
{color: blue}

#para1
{
text-align:center;
color:red;
}
div 
{background-color:#b0c4de;}
.center
{
text-align:center;
}
p.center
{
	text-align:center;
}
#menu
{
background-color:#FFD700;
float:left;
height:1000px;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content
{

 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 padding: 12px 16px;

}
.dropdown:hover .dropdown-content {
  display: block;
}



/*#footer {
	position: relative;
    margin-top: -60px; 
    height: 60px;
    clear:both;
    background:#369} */


